@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;

  max-width: 100vw;
  /* horizontal scroll just doesn't fit the style */

  @apply text-white;
}

/* remove browser X button */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal{
  display: none;
  width: 0;
  height: 0;
}

body{
  min-height: 100vh;
}

#container{
  -moz-transition: none;
  transition: background-image 300ms linear;
}

.hidden{
  visibility: hidden;
}

.right{
  @apply translate-x-[115%];
}

.left{
  @apply translate-x-0;
}

img{
  user-select: none;
}

.temp::after{
  content: '°';
}

.day-temp{
  @apply text-3xl py-2 w-12;
}

.sep-time{
  @apply flex flex-col h-28 rounded-xl items-center p-1 shrink-0;
  width: 5rem;
}

#byTime{
  @apply gap-5;
}

.sep-time:first-child{
  margin-left: 5px;
}

.current{
  @apply border-2 border-slate-500;
}

.day img{
  @apply justify-self-start
}

.day{
  @apply whitespace-nowrap;
}

.day > div{
  width: 17rem;
}

.day > div > div{
  @apply justify-between;
}

.day > div > span{
  @apply text-lg;
}

@media (max-width: 890px){
  #container{
    @apply flex flex-col gap-7;
  }

  #parentSearch > a:nth-child(2),
  .clear{
    display: none;
  }

  .panel{
    @apply w-full justify-center rounded-none border-0 mt-20;
  }

  .bot-left{
    @apply ml-0 justify-center;
  }

  #days{
    @apply w-11/12;
  }

  .day{
    @apply w-full justify-center ;
  }

  .day > div{
    @apply justify-between items-center pr-7 pl-0 !important;
    @apply w-2/4 h-24;
  }
  
  .day img{
    --size: 85px;
    width: var(--size) !important;
    height: var(--size) !important;
    @apply ml-2;
  }

  .day > div > span{
    @apply text-2xl;
  }
  
  #parentSearch{
    @apply fixed top-3 left-1/2 -translate-x-1/2;
  }

  #parentSearch img {
    @apply left-9;
  }

  #search{
    @apply border-2 border-white/20 m-0 h-10 bg-gray-700/80;
  }

  .empty{
    @apply h-0 w-0;
  }

  .right-grid{
    min-height: 0px !important;
    @apply flex h-48;
  }

  .sep-time{
    @apply h-full w-32 text-xl;
  }

  .sep-time .temp{
    @apply text-xl;
  }

  .sep-time img{
    @apply w-20 h-20;
  }

}

@media (max-width: 850px){
  .day > div {
    @apply text-lg w-3/5;
  }

  .day > div > span{
    @apply text-2xl;
  }
}

@media (max-width: 750px){
  .day > div > span{
    @apply text-xl;
  }
}

@media (max-width: 610px){
  .day{
    @apply px-5;
  }

  .day > div{
    @apply w-4/5;
  }

  .sep-time{
    @apply w-28;
  }
}

@media (max-width: 550px){
  #container{
    @apply gap-0;
  }

  #days{
    @apply gap-7 items-center;
  }

  .day{
    @apply gap-5 h-16;
  }

  .day > div{
    @apply h-full;
  }

  .day > div > span{
    @apply text-lg;
  }

  .day img{
    @apply ml-0;
    --size: 75px;
  }

  .right-grid{
    height: 10rem;
  }

  .sep-time img{
    @apply w-14 h-14;
  }

  .sep-time .temp,
  .sep-time .time{
    @apply text-lg;
  }

  .sep-time{
    @apply w-24;
  }
}

@media (max-width: 550px) and (min-height: 990px){
  .panel{
    @apply mt-1;
  }
}

@media (max-width: 480px){
  .day > div > img{
    --size: 50px;
  }

  .day > div > span{
    @apply text-lg;
  }

  .sep-time > .time,
  .sep-time > .temp{
    @apply text-base;
  }

  .sep-time{
    width: 5.5rem;
  }

  .day-temp{
    @apply text-2xl;
  }
}

@media (max-width: 450px){
  .day > div > span{
    @apply text-base;
  }
}

